a {
    text-decoration: none;
    color: black;
}

.container {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    
}
header{
    max-block-size: 15px;
}
.left-header{
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
}
#about{
    padding-right: 10px;
}

.right-header{
    font-size: 12px;
    grid-column: 11/13;
    margin-top: 10px;

}

#app-icon{
    width:15px;
    height:15px;
}
.google-image{
    grid-column: 6/9;
}